.RatingDisallowed > .RatingUp, .RatingDisallowed > .RatingDown {
    display:none;
}

.RatingUp:hover, .RatingDown:hover {
  font-weight:bold;
  cursor:pointer;
}

.RatingUp:active, .RatingDown:active {
  font-weight:lighter;
  cursor:pointer;
}