/* rating disallowed */
.RatingDisallowed > .RatingUp, .RatingDisallowed > .RatingDown {
    display:none;
}

/* show hover and click animations */
.RatingUp:hover, .RatingDown:hover {
  font-weight:bold;
  cursor:pointer;
}

.RatingUp:active, .RatingDown:active {
  font-weight:lighter;
  cursor:pointer;
}

/* ui elements */
.RatingUp, .RatingDown {
  font-size:1.5em;
}

.Rating {
    font-size: 0.8em;
}


/* rating containers */
.RatingContainer {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    width: 1.5em;
    vertical-align: top;
}
.RatingDiscussion {
    padding: 8px;
}
.Discussion .ItemDiscussion, .Item-Header.CommentHeader {
    display: inline-block;
    padding-left: 1em;
}
/* discussions */
.ItemContent.Discussion {
    display: inline-block;
    max-width: 88%;
}
/* discussion */
.MessageList.Discussion .Discussion {
    display: inline-block;
    max-width: 669px;
}

.Comment .Item-BodyWrap {
    padding-left: 2.5em;
}

.RatingNav,
.RatingNav li {
    display: inline;
    white-space: nowrap;
}

.RatingNav li {
    margin-right: 10px;
}

.RatingNav .Active {
    font-weight: bold;
}
