.RatingDisallowed > .RatingUp, .RatingDisallowed > .RatingDown {
    display:none;
}

.RatingUp:hover, .RatingDown:hover {
  font-weight:bold;
  cursor:pointer;
}

.RatingUp:active, .RatingDown:active {
  font-weight:lighter;
  cursor:pointer;
}

.ItemDiscussion {
    display: table;
}
.RatingContainer  {
    display: table-cell;
    line-height: 1em;
    padding: 0 1em 0 0;
    text-align: center;
}
.DiscussionContent {
    display:table-cell;
    width:100%;
}